{% extends 'bases/baseAdmin.html' %}
{% load static %}
<title>{% block title %} Ver Visitas {% endblock %}</title>
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Visitas</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <button id="btn-agregar" data-toggle="modal" data-target="#addModal" class="btn btn-success">Agregar Visita</button>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <div id="tablaClientes_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row be-datatable-header">
                    <div class="col-md-6"><div class="dataTables_length" id="tablaClientes_length">
                        <label>Mostrar <select name="tablaClientes_length" aria-controls="tablaClientes" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> registros
                        </label>
                    </div>
                </div>
                
                <div class="col-md-6"><div id="tablaClientes_filter" class="dataTables_filter">
                    <label>Buscar
                        <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="tablaClientes">
                    </label>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="tablaClientes" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Empresa</th>
                                        <th>Fecha Visita</th>
                                        <th>Observaciones</th>
                                        <th>Recomendaciones</th>
                                        <th>Evidencias</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visita in listaVisitas %}
                                        <tr>
                                            <th scope="row">{{visita.rutCliente.nombreEmpresa}}</th>
                                            <td>{{visita.fecha}}</td>
                                            <td>{{visita.observaciones}}</td>
                                            <td>{{visita.recomendaciones}}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">                                                    
                                                    <a href="{% url 'editarVisita' visita.id %}">
                                                        <button title="Ver evidencias" name="btn-editar" type="button" class="btn btn-sm bg-gray-200 text-dark"><i class="fas fa-fw fa-edit" aria-hidden="true"></i></button>
                                                    </a>
                                                    <a>
                                                        <button title="Eliminar Cliente" data-toggle="modal" data-target="#deleteModal" name="btn-eliminar" type="button" class="btn btn-sm bg-gray-200 text-danger"><i class="fas fa-fw fa-trash" aria-hidden="true"></i></button>
                                                    </a>
                                                    <button title="Ver detalles Cliente" name="btn-gestiones" class="btn bg-gray-200 btn-sm"><i class="fas fa-paper-plane text-dark" aria-hidden="true"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row be-datatable-footer">
            <div class="col-sm-5"><div class="dataTables_info" id="tablaClientes_info" role="status" aria-live="polite">Mostrando 0 a 0 de 0 registros</div>
        </div>

        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="tablaClientes_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="tablaClientes_previous">
                        <a href="#" aria-controls="tablaClientes" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                    </li>
                    <li class="paginate_button page-item next disabled" id="tablaClientes_next">
                        <a href="#" aria-controls="tablaClientes" data-dt-idx="1" tabindex="0" class="page-link">Siguiente</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccionaste cerrar sesión, estás seguro?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Agregar Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Visita</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="fa-solid fa-xmark"></span></button>
                </div>
                <div class="modal-body">
                    <form class="user" action="/registrarVisita" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label class="mt-2" for="rutCliente">Nombre Empresa</label>
                                    <!--input class="form-control" type="text" name="nombreEmpresa" id="nombreEmpresa"-->
                                    <select class="form-control" name="rutCliente" id="rutCliente">
                                        <option value="null">Seleccione</option>
                                        {% for cliente in listaClientes %}
                                            <option value="{{cliente.rut}}">{{cliente.nombreEmpresa}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label class="mt-2" for="rutProfesional">Nombre Profesional</label>
                                    <!--input class="form-control" type="text" name="nombreEmpresa" id="nombreEmpresa"-->
                                    <select class="form-control" name="rutProfesional" id="rutProfesional">
                                        <option value="null">Seleccione</option>
                                        {% for profesional in listaProfesionales %}
                                            <option value="{{profesional.rut}}">{{profesional.nombreCompleto}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label class="mt-2 mb-1" for="fecha">Fecha Visita</label>
                                    <input class="form-control" type="date" name="fecha" id="fecha" min="2022-10-15">
                                </div>

                                <div class="col-12">
                                    <label class="mt-2" for="observaciones">Observaciones</label>
                                    <input class="form-control" type="text" name="observaciones" id="observaciones">
                                </div>

                                <div class="col-12">
                                    <label class="mt-2" for="recomendaciones">Recomendaciones</label>
                                    <input class="form-control" type="text" name="recomendaciones" id="recomendaciones">
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Agregar</button>
                            <!--a class="btn btn-success" id="btn-add-cliente">Agregar</a-->
                        </div>
                    </form>
                </div>    

            </div>
        </div>
    </div>   
    
    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar cliente</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Estas seguro de eliminar al cliente {{cliente.nombreEmpresa}}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    {% for cliente in listaClientes %}
                        <a class="btn btn-primary" href="{% url 'eliminarCliente' cliente.rut %}">Eliminar</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/validaRUT.js' %}"></script>
{% endblock %}